// screen sizes
$screen-mc: 480px;
$screen-xs: 540px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-mg: 1050px;
$screen-lg: 1200px;
$screen-xg: 1400px;

//colors
$primary-color: #729fcf;
$secondary-color: #7d7a7a;
$tertiary-color: #ececec;
$quaternary-color:  #ced4da;

//fonts
$font-size-default: 14px;
$font-size-medium: 16px;
$font-size-big: 18x;