// screen sizes
$screen-mc: 480px;
$screen-xs: 540px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-mg: 1050px;
$screen-lg: 1200px;
$screen-xg: 1400px;

//colors
$color-yellow: #dfbd00;
$color-red: #eb0010;
$color-gray: #999999;
$color-gray--light: #bdbdbd;
$color-gray--dark: #202025;
$color-green: #37ab52;